* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2e3036;
    color: #aab9e4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
}

.sections-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.projects-item {

    width: 600px;
    background-color: #1a1b1f;
    padding: 50px;
    margin: 25px;
    border-radius: 25px;
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 125px;
    background-color: #1a1b1f;
    padding: 50px;
    margin: 25px;
    border-radius: 25px;
}

.icon-items {
    width: 50px;
    margin: 10px;
}

h1 {
    color: #a0d5a2;
    margin-bottom: 10px;
}

h2, h3 {
    color: #d5aae4;
}

a:link {
    color: #d5aae4;
}

a:visited {
    color: #a0d5a2;
}