* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link {
    color: #d5aae4;
}

a:visited {
    color: #a0d5a2;
}

body {
    background-color: #2e3036;
    color: #aab9e4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    text-align: center;
    width: 600px;
    margin: auto;
}

h1 {
    color: #a0d5a2;
    margin-bottom: 10px;
}

h2, h3 {
    color: #d5aae4;
}

.pp-software {
    background-color: #1a1b1f;
    padding: 25px;
    border-radius: 25px;
}

.pp-youtube {
    background-color: #1a1b1f;
    padding: 25px;
    border-radius: 25px;
}